<!--<link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen" />-->
<link rel="stylesheet" type="text/css" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
<script src="angular-dropdownMultiselect.js"></script>

// Cache
<script src="/js/plugins/angular-cache-2.1.0.min.js"></script>


<!--
<link rel="stylesheet" href="../css/ngDialog-theme-default.css">
<link rel="stylesheet" href="../css/ngDialog-theme-plain.css">
<link rel="stylesheet" href="../css/ngDialog-custom-width.css">
-->


<style>
    div.outterBox {
        max-width:500px;
        margin: auto;
        border: 1px solid #adacaa;
        align-items:center;
    }

</style>
<body/>
<!--
<div>
    <my-directive showtext="ngDialogData"></my-directive>
    {{ngDialogData.name}}
</div>

-->

<div class="outterBox" ng-app="application">
<h3>Auswahl: {{ngDialogData.allergicData}}</h3>
<h3>Selected: {{ngDialogData.allergicDataSelected}}</h3>
<h1>Artikel hinzufügen</h1>
<table style="text-align: left; width: 100%;" border="1" cellpadding="2" cellspacing="2">
    <form name="form" ng-submit="allergics.add()" role="form">
        <div class="form-actions">
            <button type="submit" ng-disabled="form.$invalid || dataLoading" class="btn btn-danger">Speichern</button>
            <img ng-if="dataLoading" src=""/>
        </div>

        <tbody>
        <tr>
            <td colspan="5" rowspan="1">Artikeldetails</td>
        </tr>
        <tr>
            <td>Name<span class="required">*</span><br>
            </td>
            <td><input name="name" type="text" ng-model="allergics.newUser.name" width="100%"> </td>
        </tr>
        <tr>
            <td>Preis<span class="required">*</span><br>
            </td>
            <td><input name="price" type="text" ng-model="allergics.newUser.price" width="100%"> </td>
        </tr>
        <tr>
            <td>Bild<br>
            </td>
            <td><div class="element-file"><label class="large" ><input type="file" class="file_input" name="file" /></label></div>
            </td>
        </tr>

        <tr>
            <td rowspan="1">Gruppierung<br>
            </td>
            <td>
                <!--<div ng-dropdown-multiselect="" options="ngDialogData.allergicData" selected-model="ngDialogData.allergicDataSelected" extra-settings="ngDialogData.allergicSettings"></div>-->
                <div ng-dropdown-multiselect="" options="ngDialogData.allergicData" selected-model="ngDialogData.allergicDataSelected" extra-settings="ngDialogData.allergicSettings"></div>
            </td>
        </tr>
        <tr>
            <td rowspan="1">Allergene<br>
            </td>
            <td>
                <div ng-dropdown-multiselect="" options="articles.allergic_multipleSelect_Data" selected-model="articles.allergic_multipleSelect_Selected" extra-settings="articles.allergic_multipleSelect_Settings"></div>
            </td>
        </tr>
        </tbody>
    </form>
</table>
</div>
</body>