<!--<link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen" />-->
<link rel="stylesheet" type="text/css" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
<script src="angular-dropdownMultiselect.js"></script>

<script src="/js/plugins/angular-cache-2.1.0.min.js"></script>

<link rel="stylesheet" type="text/css" href="http://codepen.io/victordarras/pen/hJHAm.css" />
<script src="http://codepen.io/victordarras/pen/hJHAm.js"></script>

<style>

    h1 {
        color: white;
        font-family: "Andale Mono";
    }

    i{
        color: white;
    }
</style>

<!--Load Data...-->
<div data-ng-init="articles.goToAdd()"> </div>


<!--<h1>{{articles.groups_multipleSelect_Selected}}</h1>-->
<!--<h1>{{articles.allergic_multipleSelect_Selected}}</h1>-->

<h1>Artikel hinzufügen</h1>
<div class="table-container">
    <table st-table="rowCollection" class="table table-striped">
        <thead>
        <tr>
            <th colspan="4"> Artikeldetails </th>
            <th colspan="2"><a href="/articles/" class="btn btn-gradient" ng-click="articles.add()"><i class="fa fa-plus"> Hinzufügen</i></a></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Name<span class="required">*</span><br>
            </td>
            <td colspan="4"><input name="name" type="text" ng-model="articles.newArticle.name" width="100%"> </td>
        </tr>
        <tr>
            <td>Preis<span class="required">*</span><br>
            </td>
            <td colspan="4"><input name="price" type="text" ng-model="articles.newArticle.price" width="100%"> </td>
        </tr>
        <tr>
            <td>Bild<br>
            </td>
            <td colspan="4"><div class="element-file"><label class="large" ><input type="file" class="file_input" name="file" /></label></div>
            </td>
        </tr>

        <tr>
            <td rowspan="1">Gruppierung<br>
            </td>
            <td colspan="4">
                <div ng-dropdown-multiselect="" options="articles.groups_multipleSelect_Data" selected-model="articles.groups_multipleSelect_Selected" extra-settings="articles.groups_multipleSelect_Settings"
                     events="articles.myEventListenersGroups"></div>
            </td>
        </tr>
        <tr>
            <td rowspan="1">Allergene<br>
            </td>
            <td colspan="4">
                <div ng-dropdown-multiselect="" options="articles.allergic_multipleSelect_Data" selected-model="articles.allergic_multipleSelect_Selected" extra-settings="articles.allergic_multipleSelect_Settings"
                     events="articles.myEventListenersAllergics"></div>
            </td>
        </tr>
        </tbody>
    </form>
</table>
</div>
</body>