<script src="http://pixelcrafts.com/soo/lib/angular/angular.min.js"></script>
<script src="http://pixelcrafts.com/soo/lib/angular/ngDialog.min.js"></script>

<link rel="stylesheet" href="http://pixelcrafts.com/soo/css/ngDialog-theme-default.css">
<link rel="stylesheet" href="http://pixelcrafts.com/soo/css/ngDialog.css">

<style>
    /*
    Max width before this PARTICULAR table gets nasty
    This query will take effect for any screen smaller than 760px
    and also iPads specifically.
    */
    @media
    only screen and (max-width: 760px),
    (min-device-width: 768px) and (max-device-width: 1024px)  {

        /* Force table to not be like tables anymore */
        table, thead, tbody, th, td, tr {
            display: block;
            text-align: center;
        }

        /* Hide table headers (but not display: none;, for accessibility) */
        thead tr {
            position: absolute;
            top: -9999px;
            left: -9999px;
        }

        tr { border: 1px solid #ccc; }

        td {
            /* Behave  like a "row" */
            border: none;
            border-bottom: 1px solid #eee;
            position: relative;
            padding-left: 50%;
        }

        td:before {
            /* Now like a table header */
            position: absolute;
            /* Top/left values mimic padding */
            top: 6px;
            left: 6px;
            width: 45%;
            padding-right: 10px;
            white-space: nowrap;
        }
    }
</style>

<!--<p> Key: <input type="text" ng-model="articles.test1"> </p>-->
<!--<p> Value: <input type="text" ng-model="articles.test2"> </p>-->
<!--<p> <button ng-click="articles.addItem(articles.test1, articles.test2)" >Hinzufügen</button> </p>-->
<!--<hr/>-->
<!--<p> GetItem: <input type="text" ng-model="articles.getKey"> </p>-->
<!--<p> <button ng-click="articles.getItem(articles.getKey)">Hinzufügen</button> </p>-->

<div data-ng-init="articles.getAll()"> </div>
<h1 ng-class="{ 'color-red' : !articles.list, 'color-lightgreen' : articles.list }">Artikel</h1>

<div class="" ng-if="!articles.list">
    Artikel werden geladen ...
</div>
<body>
<div class="table-container">
    <table st-table="rowCollection" class="table table-striped">
        <thead>
        <tr>
            <th colspan="9"> Globale Suche </th>
            <th colspan="1"><a href="/add/articles/" class="btn btn-gradient" onclick="articles.goToAdd()"><i class="fa fa-plus"> Hinzufügen</i></a>
            </th>
        </tr>
        <tr>
            <th colspan="10">
                <input st-search placeholder="global search" class="input-sm form-control" type="search" ng-model="filterAll"/>
            </th>
        </tr>
        <tr colspan="10">
            <th>Bild</th>
            <th>Gruppierung</th>
            <th colspan="6">Name</th>
            <th>Preis</th>
            <th>Allergene</th>
        </tr>
        </thead>
        <tbody ng-if="articles.list" ng-repeat="article in articles.list | filter:filterAll" ng-re>
        <tr>
            <th width="160"><img src="{{article.img}}" width="100%" max-width="100%"></th>
            <th width="80"><div ng-repeat="grp in article.group" ng-re> {{grp}}</div></th>
            <th width="260" colspan="6">{{article.name}}</th>
            <th width="70">{{article.price}}€</th>
            <th width="80"><div ng-repeat="all in article.allergics" ng-re> {{all}}</div></th>
            <td><a href="/articles/{{article._id}}" class="btn btn-gradient" ng-click="articles.saveArticleTempID(article._id)"><i class="fa fa-plus"> Edit</i></a>
            </td>
        </tr>
        </tbody>
    </table>

</div>
</div>
<div ng-show="isLoading" class="loading-indicator"></div>
</body>

</div>
