

<script src="http://pixelcrafts.com/soo/lib/angular/angular.min.js"></script>
<script src="http://pixelcrafts.com/soo/lib/angular/ngDialog.min.js"></script>


<link rel="stylesheet" type="text/css" href="https://dl.dropboxusercontent.com/s/1y064hvghdwkayt/table.css" />
<script src="http://codepen.io/victordarras/pen/hJHAm.js"></script>

<!--<link rel="stylesheet" href="http://pixelcrafts.com/soo/css/ngDialog-theme-default.css">-->
<!--<link rel="stylesheet" href="http://pixelcrafts.com/soo/css/ngDialog.css">-->

<!--http://codepen.io/zavoloklom/full/IGkDz/
<link rel="stylesheet" href="http://codepen.io/zavoloklom/pen/IGkDz.css">
<link rel="stylesheet/less" type="text/css" href="http://codepen.io/zavoloklom/pen/IGkDz.less" />
<script src="http://codepen.io/zavoloklom/pen/IGkDz.js"></script>-->

<!--http://codepen.io/lukepeters/full/bfFur/-->
<!--<link rel="stylesheet" href="http://codepen.io/lukepeters/pen/bfFur.css">-->

<!--http://codepen.io/jordyvanraaij/full/jlAqp/-->
<!--<link rel="stylesheet" href="http://codepen.io/jordyvanraaij/pen/jlAqp.css">-->

<style>

    h1 {
        color: white;
        font-family: 'Helvetica Neue', Helvetica, Arial, serif;
    }

    i{
        color: white;
    }
    div.table-container {
        width: 90%;
        margin: auto;
        border: 0px solid #73AD21;
    }

    table.table.table-striped{
        border: 0px solid #73AD21;
        width: 100%;
    }
    table {
        width: 100%;
    }
</style>


<div data-ng-init="articles.getAll()"> </div>
<h1 ng-class="{ 'color-red' : !articles.list, 'color-white' : articles.list }">Artikelkatalog</h1>

<div class="" ng-if="!articles.list">
    Artikel werden geladen ...
</div>

<body>
<div class="table-container" bs-width="100%">
    <table st-table="rowCollection" class="table table-striped">
        <thead>
        <tr>
            <th colspan="9"> Globale Suche </th>
            <th colspan="2"><a href="/add/articles/" class="btn btn-gradient" onclick="articles.goToAdd()"><i class="fa fa-plus"> Hinzufügen</i></a>
            </th>
        </tr>
        <tr>
            <th colspan="11">
                <input st-search placeholder="global search" class="input-sm form-control" type="search" ng-model="filterAll"/>
            </th>
        </tr>
        <tr colspan="9">
            <th>Bild</th>
            <th>Gruppierung</th>
            <th colspan="6">Name</th>
            <th>Preis</th>
            <th>Allergene</th>
            <th></th>
        </tr>
        </thead>
        <tbody ng-if="articles.list" ng-repeat="article in articles.list | filter:filterAll" ng-re>
        <tr>
            <th width="160"><img src="{{article.img}}" width="100%" max-width="100%"></th>
            <th width="80"><div ng-repeat="grp in article.group" ng-re> {{grp}}</div></th>
            <th width="260" colspan="6">{{article.name}}</th>
            <th width="70">{{article.price}}€</th>
            <th width="80"><div ng-repeat="all in article.allergics" ng-re> {{all}}</div></th>
            <th><a href="/articles/{{article._id}}" class="btn btn-gradient" ng-click="articles.saveArticleTempID(article._id)"><i class="fa fa-pencil-square-o" aria-hidden="true"> Edit</i></a>
            </th>
        </tr>
        </tbody>
    </table>

</div>
</div>
<div ng-show="isLoading" class="loading-indicator"></div>
</body>

</div>
