// @import "fontawesome/variables";
// @import "fontawesome/mixins";
// @import "fontawesome/path";
// @import "fontawesome/core";
// @import "fontawesome/icons";

@import "fontawesome/fontawesome";

.icon {
  &.-large {
    font-size: 120px;
    color: $white;
    line-height: $_lhLarge;
    cursor: pointer;
    transition: color $_tShort;
    text-shadow: 0px 0px 6px $red;

    &:hover {
      color:lighten($gray, 30%);
    }
  }

//
//   &-action {
//     transition:background-color $_tShort;
//     float:right;
//     color:$white;
//     background-color:lighten($gray, 60%);
//     width:$icon-width-default;
//     height:$icon-width-default;
//     border-radius:$icon-width-default / 2;
//     text-align:center;
//     line-height:$icon-width-default;
//     cursor:pointer;
//
//     &:hover {
//       background-color:lighten($gray, 30%);
//     }
//
//     // &-top {
//     //   &-right {
//     //     position:absolute;
//     //     float:none;
//     //     right:$icon-width-default / -2;
//     //     top:$icon-width-default / -2;
//     //     z-index:$zindex-inner;
//     //   }
//     // }
//
//     &-outlined {
//       transition:color $_tShort, border-color $_tShort;
//       border:1px solid lighten($gray, 60%);
//       line-height:$icon-width-default - 3px;
//       background:transparent;
//       color:$gray;
//
//       &:hover {
//         background:transparent;
//         border-color:lighten($gray, 30%);
//       }
//
//       &-status {
//         &-ok {
//           color:$orange;
//         }
//       }
//     }
//   }
//
//   // &.-actionInline {
//   //   font-size:$icon-width-smaller;
//   //   // vertical-align:middle;
//   //   transition:opacity $_tShort;
//   //   cursor:pointer;
//   //   opacity:0.65;
//   //
//   //   &:hover {
//   //     opacity:1;
//   //   }
//   //
//   //   &Top {
//   //     vertical-align:top;
//   //   }
//   //
//   //   &Right {
//   //     margin-left:$form-spacing / 3;
//   //   }
//   // }
//
//   // &-overlap {
//   //   position:absolute;
//   //   z-index:$zindex-inner;
//   //   display:block;
//   //   font-size:$icon-width-smaller;
//   //   line-height:$icon-width-smaller;
//   //   margin-left:$icon-width-smaller / (-2);
//   //   margin-top:$icon-width-smaller / (-2);
//   //   text-align:center;
//   //   width:$icon-width-smaller;
//   //   text-shadow:-1px -1px 0 $background-color-white, 1px 1px 0 $background-color-white;
//   // }
//
//   &-inline {
//     &Left {
//       vertical-align:baseline;
//       margin-right:4px;
//     }
//
//     &Right {
//       vertical-align:baseline;
//       margin-left:4px;
//     }
//   }
//
//   &.-disabled {
//     opacity:0.5;
//   }
//
//   // &-circle {
//   //   display:inline-block;
//   //   width:1.3em;
//   //   height:1.3em;
//   //   border-radius:0.75em;
//   //   background-color:$gray;
//   //   text-align:center;
//   //   line-height:1em;
//   //   overflow:hidden;
//   //   vertical-align:text-top;
//   // }
}
