<div data-ng-init="tables.getById()"> </div>


<h1>Herzlich Willkommen Tisch {{tables.tempTable.tablenumber}}</h1>
<h2 style="color: red"> Nicht Fertig, Ausdruck für die Tische/Gäste</h2>
<h3>Falls Sie unsere neue Selbstbestellfunktion testen wollen,
müssen Sie sich nur in das folgende WLan anmelden.
</h3>
<h4>Wlan: x.x.x.x  Passwort: xxxxxxx </h4>

Fast geschafft! Jetzt öffnen Sie bitte eine Kamera-App und scannen Sie Ihren persönlichen QR-Code ein.
<img src="{{tables.tempURL}}" style="width: 40%">
<br>
Viel Spaß und natürlich Appetit.