<link rel="stylesheet" type="text/css" href="https://codepen.io/Vuko/pen/NAXNWw.css" />
<link rel="stylesheet" type="text/css" href="http://codepen.io/Vuko/pen/LkOAvy.css" />

<div data-ng-init="order.getInvoiceByID()"> </div>
<input type='checkbox' id='sideToggle1' hidden>
<aside class='sideMenu left'>
    <h2>Navigation</h2>
    <ul>
        <li><a href="{{order.getUrl()}}">Home</a></li>
        <li class="marked"><a href='/#/m/orders/' data-value='Speisekarte'>Speisekarte</a></li>
        <li><a href='/#/m/invoice' data-value='Rechnung'>Rechnung</a></li>
        <li><a href='#' data-value='Kellnerruf'>Kellnerruf</a></li>
    </ul>
</aside>

<div id='contentWrap'>
    <div class="container">
        <header>
            <label class='menuBtn' for='sideToggle1' style="left: 6px; top: 5px; position: absolute">&minus;</label>
            <div class="headline_1"> Aktuelle Rechnung</div>
        </header>
<body>
<div class="container">

    <table st-table="rowCollection" class="table table-striped" align="center">
        <thead>
        <tr class="reiter">
            <th>Artikel</th>
            <th>Anzahl</th>
            <th>Preis</th>
        </tr>
        </thead>
        <tr ng-repeat="items in order.invoice">
            <td>{{items.name}}</td>
            <td>{{items.amount}}</td>
            <td>{{items.price}}€</td>
       </tr>
</table>
    <hr>
    <table>
        <tr>
            <td class="invoiceamount" width="270px">Summe: </td>
            <td class="invoiceamount" width="10px">{{order.price}}€ </td>
        </tr>
</table>
</div>




</div>