<link rel="stylesheet" type="text/css" href="http://codepen.io/Vuko/pen/LkOAvy.css" />
<div data-ng-init="order.getAll()"> </div>

<div class="container">
    <header>
        <div class="home">Willkommen Tisch X</div>
        <a href="#"></a>
        <span></span>
        <i class="fa fa-book">Menü</i>
    </header>

    <ul class="items" ng-if="order.list" ng-repeat="groups in order.list | filter:filterAll" ng-re>
        <a href="/m/orders/{{groups._id}}" class="btn btn-gradient" style="text-decoration: none">
            <li class="item-{{groups.shortID}}" ng-click="order.saveGroupTempID(groups._id, groups.name)">

                <img class="roundHome" src={{groups.img}} alt=""/>
                <div class="roundSpan">{{groups.name}}</div>
            </li></a>
    </ul>
</div>
