button,
.button {
  @include resetButton;
  display: inline-block;
  text-decoration: none;
  padding: 0 17px;
  font-family: $_ffSansBold;
  font-size: $_fsDefaultFallback;
  line-height: 2.588rem;
  height: 2.588rem;
  white-space: nowrap;

  &:focus {
    outline:0;
  }

  & + & {
    margin-left: $_xSpacing;
  }

  &.-ghost {
    background: none;
    border: 1px solid;
    border-radius: $_borderRadiusDefault;

    transition: background $_tShort ease-in-out, color $_tShort ease-in-out, border-color $_tShort ease-in-out;
  }

  &.-ghostWhite {
    @extend .-ghost;

    color: $_rgbWhite;
    border-color: $_rgbWhite;

    &:hover{
      background: transparentize($_rgbWhite, 0.8);
    }
  }

  &.-ghostBlush {
    @extend .-ghost;

    color: $_rgbBlush;
    border-color: $_rgbBlush;
    background: $_rgbWhite;

    &:hover {
      color: darken($_rgbBlush, 10);
      border-color: darken($_rgbBlush, 10);
      background: rgba($_rgbBlush, .06);
    }
  }

  &.-blush {
    display: inline-block;;
    padding: 0 17px;
    border-radius: $_borderRadiusDefault;

    text-align: center;
    font-family: $_ffSansBold;
    font-size: $_fsDefaultFallback;
    line-height: 2.588rem;
    height: 2.588rem;

    background: $_rgbBlush;
    color: $_rgbWhite;

    cursor: pointer;

    transition: background $_tShort ease-in-out;

    &:hover{
      background: darken($_rgbBlush, 10);
    }
  }
}
