.section {
  $section-margin-top: 0 !default;

  overflow: hidden;
  position: relative;
  padding: 72px 0 100px;
  margin: 0;
  margin-top: $section-margin-top;

  background-position: center !important;
  background-size: cover !important;

  &.-center{
    text-align: center;
  }

  &.-white{
    background: $white;
    color: $gray;
  }

  &.-blue{
    background: $green;
    color: $white;
  }

  &.-black{
    background: $black;
    color: $white;
  }

  &.-subchilds{
    padding: 44px 0 0;
    background: $gray;
  }

  &.-hero{
    padding-bottom: 70px;
  }

  &.-steps{
    ._title{
      margin-bottom: 42px;
    }
  }

  &.-about{
    padding-bottom: 5px;
  }

  &.-testimonials{
    padding-bottom: 72px;
    background-position: center right !important;
    color: $white;

    ._subtitle{
      margin-top: -55px;
    }
  }

  & > ._inner{
    max-width: $_maxPageWidth;
    margin: 0 auto;
    padding: 0 ($_xGutter / 2);

    &.-slim {
      max-width: $_maxSlimPageWidth;
    }

    & > ._title{
      margin-bottom: 72px;

      text-align: center;
      font-size: $_fsLarge;
      line-height: $_lhLarge;

      & + ._subtitle{
        margin-top: -65px;
      }
    }

    ._subtitle{
      margin-bottom: 72px;

      font-size: $_fsMedium;
      line-height: $_lhMedium;
      // color: $gray;
      color: $white;
    }
  }
}
