// http://chir.ag/projects/name-that-color/
$_rgbBlack       : rgb(   0,   0,   0); // #000000
$_rgbMineShaft   : rgb(  51,  51,  51); // #333333
$_rgbDustyGray   : rgb( 153, 153, 153); // #999999
$_rgbAlto        : rgb( 214, 214, 214); // #D6D6D6
$_rgbAthensGray  : rgb( 244, 245, 248); // #F4F5F8
$_rgbWhite       : rgb( 255, 255, 255); // #FFFFFF
$_rgbBayOfMany   : rgb(  36,  59, 126); // #243B7E
$_rgbPacificBlue : rgb(   0, 153, 203); // #0099CB
$_rgbBlizzardBlue: rgb( 159, 219, 239); // #9FDBEF
$_rgbBlush       : rgb( 209,  72, 108); // #D1486C



$white : #ffffff;
$green : #678e35;
$lightgreen : #b3ce71;
$orange : #e7982f;
$beige : #ddc493;
$brown : #b76e55;
$red : #d8533d;
