/* SPACINGS */
$_xGutter  : 36px;
$_yGutter  : 0;
$_defaultSpacing : 8px;
$_xSpacing : 24px;
$_ySpacing : 18px;

/* BORDERS */
$_borderRadiusDefault : 6px;

/* TIMINGS */
$_tShort : 300ms;
$_tMed   : 500ms;
$_tLong  : 1000ms;

/* WIDTHS */
$icon-width-big : 32px;
$icon-width-default : 24px;
$icon-width-smaller : 16px;

$_wSmall     : 0;
$_wMedium    : 481px;
$_wLarge     : 768px;
$_wXLarge    : 1000px;


$_wSidebar       : 300px;
$_maxPageWidth   : 1140px;
$_maxSlimPageWidth   : 900px;
$_maxNarrowWidth : 700px;

$_hSmallHeader: 78px;
$_hLargeHeader: 98px;
