
<link rel="stylesheet" type="text/css" href="https://dl.dropboxusercontent.com/s/1y064hvghdwkayt/table.css" />
<script src="http://codepen.io/victordarras/pen/hJHAm.js"></script>

<style>

    h1 {
        color: white;
        font-family: "Andale Mono";
    }

    i{
        color: white;
    }

</style>
<!--Check Token -> Pass    else    -> Redirect-->
<div ng-if="groups.simpleStorage.get('secToken') == null">
    {{groups.checkTokenArticle()}}
</div>


<h1>Gruppe anlegen</h1>
<div class="table-container">
    <table st-table="rowCollection" class="table table-striped" align="center">
        <thead>
        <tr>
            <th colspan="6">  </th>
            <th colspan="1"><a href="/groups/" class="btn btn-gradient" ng-click="groups.waypointAdd()"><i class="fa fa-save">  Speichern</i></a></th>
        </tr>
        <tr>
            <th colspan="2">Bild</th>
            <th colspan="2">Kürzel</th>
            <th colspan="2">Beschreibung</th>
            <th colspan="2">Name</th>
        </tr>
        <tr>
            <td colspan="2"> <input name="img" type="text" ng-model="groups.newGroups.img" width="100%"></td>
            <td colspan="2"> <input name="shortid" type="text" ng-model="groups.newGroups.shortid" width="100%"></td>
            <td colspan="2"> <input name="desc" type="text" ng-model="groups.newGroups.desc" width="100%"></td>
            <td colspan="2"> <input name="name" type="text" ng-model="groups.newGroups.name" width="100%"></td>
        </tr>
        </thead>
    </table>

</div>
</div>

