<script src="bower_components/angular-formly/dist/formly.min.js"></script>
<!--<link rel="stylesheet" type="text/css" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />-->


<link rel="stylesheet" type="text/css" href="https://dl.dropboxusercontent.com/s/1y064hvghdwkayt/table.css" />
<script src="http://codepen.io/victordarras/pen/hJHAm.js"></script>

<style>

    h1 {
        color: white;
        font-family: "Andale Mono";
    }

    i{
        color: white;
    }

</style>
<!--Check Token -> Pass    else    -> Redirect-->
<div ng-if="groups.simpleStorage.get('secToken') == null">
    {{groups.checkTokenArticle()}}
</div>

<div data-ng-init="groups.getById()"> </div>

<h1 ng-class="{ 'color-red' : !groups.newGroup, 'color-lightgreen' : groups.newGroup }">{{groups.newGroup.firstname}} {{groups.newGroup.lastname}}</h1>

<div class="" ng-if="!groups.newGroup">
    User werden geladen ...
</div>

<!--<formly-form model="groups.newGroup" fields="groups.userFields">-->
<!--<button type="submit" class="btn btn-default" ng-click="vm.submit(vm.user)">Submit</button>-->
<!--</formly-form>-->
<div data-ng-init="groups.getById()"> </div>
<h1>{{groups.tempGroups.name}} bearbeiten</h1>

<body>

<div class="table-container">
    <table st-table="rowCollection" class="table table-striped" align="center">
        <thead>
        <tr>
            <th colspan="6">  </th>
            <th colspan="1"><a href="/groups/" class="btn btn-gradient" ng-click="groups.reloadPage()" ><i class="fa fa-save">  Speichern</i></a></th>
        </tr>
        <tr>
            <th colspan="2">Bild</th>
            <th colspan="2">Kürzel</th>
            <th colspan="2">Beschreibung</th>
            <th colspan="2">Name</th>
        </tr>
        <tr>
            <td colspan="2"> <input name="img" type="text" width="100%"></td>
            <td colspan="2"> <input name="shortID" type="text" ng-model="groups.tempGroups.shortid" width="100%" ng-change="groups.updateGroup()"></td>
            <td colspan="2"> <input name="desc" type="text" ng-model="groups.tempGroups.desc" width="100%" ng-change="groups.updateGroup()"></td>
            <td colspan="2"> <input name="name" type="text" ng-model="groups.tempGroups.name" width="100%" ng-change="groups.updateGroup()"></td>
        </tr>
        </thead>
    </table>

</div>
</div>
<div ng-show="isLoading" class="loading-indicator"></div>
</body>



</div>
