<div class="row about">
    <div class="small-12 medium-4 columns">
        <div class="_human">
            <div class="__name">
                Name
            </div>
        </div>
    </div>
    <div class="small-12 medium-4 columns">
        <div class="_human">
            <div class="__name">
              Name
            </div>
        </div>
    </div>
    <div class="small-12 medium-4 columns">
        <div class="_human">
            <div class="__name">
              Name
            </div>
        </div>
    </div>

</div>
