<h1 ng-class="{ 'color-red' : !articles.list, 'color-lightgreen' : article.list }">Artikelliste</h1>

<div class="" ng-if="!articles.list">
    Artikel werden geladen ...
</div>


<style>
    table{
        border: 1px solid black;
    }

    th, td {
        border: 0px solid darkseagreen;
        overflow: hidden;
    }
</style>

<div class="">
    <table height="60px">
        <tr>
            <th>Bild</th>
            <th>Gruppierung</th>
            <th>Name</th>
            <th>Preis</th>
            <th>Allergene</th>
        </tr>
        <tr ng-if="articles.list" ng-repeat="article in articles.list">
            <th width="160"><img src="{{article.img}}" width="100%" max-width="100%"></th>
            <th width="80">{{article.group}}</th>
            <th width="260">{{article.name}}</th>
            <th width="70">{{article.price}}€</th>
            <th width="100">{{article.allergics.toString()}}</th>
        </tr>
</table>

    <!--<small><pre>{{ article | json }}</pre></small>-->

<!--    <button class="button success" type="button" name="button" ng-click="articles.getById(articles._id)">Lade Details (die eigentlich ja grade schon da sind... :-)</button>-->
<!--    <div class="color-red" ng-if="articles.details[articles._id]" ng-bind="articles.details[articles._id]"></div>-->
<!--    <hr>-->
</div>

