<div class="areaContent">
  <div class="row">
      <div class="small-12 columns">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore incidunt suscipit similique, dolor corrupti cumque qui consectetur autem laborum fuga quas ipsam doloribus sequi, mollitia, repellendus sapiente repudiandae labore rerum amet culpa inventore,
            modi non. Quo nisi veritatis vitae nam, labore fugit. Inventore culpa iusto, officia exercitationem. Voluptates quibusdam odit odio incidunt consequatur, consectetur aspernatur optio vitae molestias, quas repellendus fugit ullam culpa, eligendi
          </p>
      </div>
  </div>
</div>

<div class="areaBackground cd-bg-1">
    <div class="viewIntro">
          test
    </div>
</div>

<div class="areaContent">
    <div class="row">
        <div class="medium-8 medium-push-2 columns" ng-include="'./views/about.html'"></div>
    </div>
</div>

<div class="">
  <a href="/users">Users</a>
</div>
