<link rel="stylesheet" type="text/css" href="http://codepen.io/coughsyrup/pen/MeaEqJ.css" />
<div class="container">
    <header>
        <i class="fa fa-bars"></i>
        <a href="#">Menu</a>
        <div class="items-number">0 items</div>
    </header>
    <ul class="items">
        <li class="item-coffee">
            <i class="fa fa-coffee"></i>
            <span>Coffee</span>
        </li>
        <li class="item-sweet">
            <i class="fa fa-birthday-cake"></i>
            <span>Sweet</span>
        </li>
        <li class="item-food">
            <i class="fa fa-cutlery"></i>
            <span>Food</span>
        </li>
        <li class="item-drink">
            <i class="fa fa-glass"></i>
            <span>Drink</span>
        </li>
    </ul>
</div>