<h1 ng-class="{ 'color-red' : !users.list, 'color-lightgreen' : users.list }">Users</h1>

<div class="" ng-if="!users.list">
    User werden geladen ...
</div>

<div class="" ng-if="users.list" ng-repeat="user in users.list">

    <h3 class="" ng-if="user.lastname === 'Fischer'">
      Siehe da, ein Fischer.
    </h3>

    <small><pre>{{ user | json }}</pre></small>

    <button class="button success" type="button" name="button" ng-click="users.getById(user._id)">Lade Details (die eigentlich ja grade schon da sind... :-)</button>
    <div class="color-red" ng-if="users.details[user._id]" ng-bind="users.details[user._id]"></div>
    <hr>
</div>
